<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/client/css/table.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/client/js/cardsTable.js"></script>
    <title>Table</title>
</head>
<body data-ng-app="cardsTableApp" data-ng-controller="cardsTableCtrl" data-ng-init="hideForm=true">

    <nav>
         <a href="http://localhost:5000"><img id="logo" src="/client/css/yugiohDB.png" alt="Yu-Gi-Oh!"></a>

        <ul>
            <li><a href="http://localhost:5000">Home</a></li>
            <li><a href="http://localhost:5000/index">Form</a></li>
            <li><a href="http://localhost:5000/view">View</a></li>
        </ul>
    </nav>

    <section data-ng-hide="hideTable">
        <div id="dropDown">
            <label for="groupBy">Card Type: </label>
            <select id="groupBy"
            data-ng-model="selectedType"
            data-ng-options="type.display for type in types" data-ng-change="redrawTable()"></select>
        </div>
        <!-- Create table -->
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Attribute</th>
                    <th>Level/Rank</th>
                    <th>Delete</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="card-table">
                <tr data-ng-repeat="obj in deck">
                    <td>{{obj.cardName}}</td>
                    <td>{{obj.description}}</td>
                    <td>{{obj.cardType}}</td>
                    <td>{{obj.attribute}}</td>
                    <td>{{obj.level}}</td>

                    <td>
                        <button class="btn" data-ng-click="deleteCard(obj['_id'])">Graveyard</button>
                    </td>
                    <td>
                        <button class="btn" data-ng-click="editCard($index)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- edit card form -->
     <!-- building the form used to update our data -->
     <section class="form" data-ng-hide="hideForm">
        <!-- hold some data and hide it from the user -->
        <label data-ng-model="cardID" hidden></label>

        <div>
            <label for="name">Card Name: </label>
            <input type="text" id="name" data-ng-model="name" data-ng-change=startNew()>
        </div>

        <div class="textArea">
            <label for="description">Description: </label>
            <textarea type="text" id="description" data-ng-model="description" data-ng-change=startNew() rows="8" cols="50"></textarea>
        </p>

        <div>
            <label for="type">Type: </label>
            <input type="text" id="type" data-ng-model="type" data-ng-change=startNew()>
        </div>

        <div>
            <label for="attribute">Attribute: </label>
            <input type="text" id="attribute" data-ng-model="attribute" data-ng-change=startNew()>
        </div>

        <div>
            <label for="level">Level: </label>
            <input type="text" id="level" data-ng-model="level" data-ng-change=startNew()>
        </div>

        <div id="btn-align">
            <div class="buttons">
                <button class="btn" id="submit" data-ng-click="updateCard()">Update</button>
            </div>
            <div class="buttons">
                <button class="btn" id="cancelButton" data-ng-click="cancelEdit()">Cancel</button>
            </div>
        </div>

        <div style="margin-top: 20px; font-size: 34px; color: green;">
            {{addResults}}
        </div>

    </section>

</body>
</html>