* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(/client/css/yugiohBG.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

nav {
	background: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.6)), url(/client/css/egyptianCards.png) no-repeat;
	background-size: cover;
	background-position-y: 30%;
	height: 120px;
	width: 100%;
}

#logo {
	width: 10%;
	height: auto;
	margin: 10px;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 25px 5px;
}

nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
}

li a:hover {
	background: #1b9bff;
	transition: .4s;
}

#dropDown {
	margin: 15px;
}

table {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border: solid rgba(182, 220, 255, 0.733) 12px;
	border-radius: 6px;
}

th,
td {
	padding: 12px 15px;
}

tr {
	background-color: white;
}

th {
	padding: 5px;
	background: rgb(107, 128, 195);
	color: #fafafa;
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td {
	font-family: 'Open sans', sans-serif;
	text-align: center;
}

tr:nth-child(odd) {
	background-color: #eee;
}

.data-delete {
	font-size: 14px;
	font-weight: bold;
	background: black;
	width: 100px;
	padding: 5px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
}

.form {
	margin: 50px auto;
	padding: 1em 1em;
	border: solid 1px rgb(107, 128, 195);
	background-color: rgba(107, 128, 195, 0.5);
	border-radius: 6px;
	width: 50%;
}

.textArea * {
	vertical-align: middle;
}

label {
	color: white;
}

label:first-of-type {
	margin-top: 0;
	font-size: 1.2em;
}
.buttons {
	display: inline;
	margin: 12px;
}
.btn {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	background: rgb(107, 128, 195);
	padding: 10px;
	text-transform: uppercase;
	color: white;
	border-radius: 5px;
}

#btn-align {
	padding: 10px;
	text-align: center;
}
